.dot-wave-container {
    display: flex;
    align-items: center;
}


.dot-wave {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &.dot-wave-1 {
        animation-name: dot-wave-animation-1;
        opacity: 1;
    }
      
    &.dot-wave-2 {
        animation-name: dot-wave-animation-2;
        opacity: 0.6;
    }
      
    &.dot-wave-3 {
        animation-name: dot-wave-animation-3;
        opacity: 0.3;
    }
}
  
  
@keyframes dot-wave-animation-1 {
    0%, 100% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-6px);
      opacity: 0.3;
    }
}
  
@keyframes dot-wave-animation-2 {
    0%, 50% {
      transform: translateY(0);
      opacity: 0.6;
    }
    25% {
      transform: translateY(-6px);
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
}
  
@keyframes dot-wave-animation-3 {
    0%, 25% {
      opacity: 0.3;
    }
    50% {
      transform: translateY(0);
      opacity: 0.6;
    }
    75% {
      transform: translateY(-6px);
      opacity: 1;
    }
}