@mixin transition($property: all, $duration: 300) {
    -webkit-transition: $property $duration ease-in-out;
    -o-transition: $property $duration ease-in-out;
    -ms-transition: $property $duration ease-in-out;
    -moz-transition: $property $duration ease-in-out;
    transition: $property $duration ease-in-out;
}

@mixin text-head($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}